@import "tailwindcss";

.button {
  background-color: #3498db;
  padding: 10px 20px;
  color: white;
  border-radius: 5px;
  border: none;
  font-size: 16px;
  cursor: pointer;
}

.button:hover {
  background-color: #2980b9;
}

:root {
  /* --border-style: solid;  DESCOMENTAR PARA TESTE */
  --border-style: none; /*COMENTAR PARA TESTE */

  --border-width-div: 2px;
  --border-solid-div: solid;
  --border-color-div: #EF4444;  

  --border-width-main: 2px;
  --border-solid-main: solid;
  --border-color-main: #10b981; 

  --border-width-nav: 2px;
  --border-solid-nav: solid;
  --border-color-nav: #6B7280; 

  --body-bg: rgb(250 250 250);
  --body-nav: #0000000a;
  --body-footer: #22c55e;
  --body-sidebar: #06b6d4;

  --body-footer: #0000000a;
  --body-sidebar: #0000000a;
  --body-op:1; 
}

.border-custom {
  border-style: var(--border-style);
}
